<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myboard.BoardMapper">

	
	<!-- 답글 작성 -->
	<insert id="reply" parameterType="bcommentVO"> 
		INSERT INTO BCOMMENT_MAKEUP VALUES (BCOMMENT_SEQ.NEXTVAL, #{user_m}, #{boardnum}, #{bcomment}, SYSDATE) 
	</insert>

	<select id="relist" resultType="bcommentVO">
		SELECT * FROM BCOMMENT_MAKEUP
	</select>
	
	<select id="recomment" resultType="bcommentVO">
		SELECT *FROM 
		(SELECT * FROM BCOMMENT_MAKEUP WHERE BOARDNUM=#{boardnum} ORDER BY BCOMMENTNUM DESC) 
		WHERE ROWNUM=1
	</select>
	

</mapper>
